/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Yrsa:ital@1&display=swap");

.hr {
  border: 1px solid white;
}
.bg-color {
  background-color: #002736;
}
.text-justify {
  text-align: justify;
}
.title-font {
  font-family: "Lobster", cursive;
  font-family: "Yrsa", serif;
}

.square-dot {
  list-style-type: square;
}
.card-img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
